{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/all_exhibitions.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <div class="exhibitions-form">
            <form method="GET" action="{% url 'all_exhibitions' %}">
                <label for="sort_by">Sort by:</label>
                <select id="sort_by" name="sort_by">
                    <option value="date_asc" {% if sort_by == 'date_asc' %}selected{% endif %}>Start Date (Ascending)</option>
                    <option value="date_desc" {% if sort_by == 'date_desc' %}selected{% endif %}>Start Date (Descending)</option>
                    <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price (Low to High)</option>
                    <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price (High to Low)</option>
                </select>
                <button type="submit" class="positive-button">Sort</button>
            </form>
        </div>

        {% if messages %}
        <div class="success-message">
            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if exhibitions %}
        <div class="exhibition-list">
            {% for exhibition in exhibitions %}
            <div class="exhibition-card">
                <h4>{{ exhibition.name }}</h4>
                <div class="center-text">
                    <p><strong>Start Date:</strong> {{ exhibition.start_date|date:"Y-m-d" }}</p>
                    <p><strong>End Date:</strong> {{ exhibition.end_date|date:"Y-m-d" }}</p>
                    <p><strong>Price:</strong> {{ exhibition.price }}</p>
                </div>

                <h3>Exhibits:</h3>
                <div id="show_from_id">
                    {% for exhibit in exhibition.exhibits.all %}
                    <div id="exhibit_info">
                        <div>
                            <p id="exhibit_name">{{ exhibit.name }}</p>
                            <p><strong>Art Type:</strong> {{ exhibit.art_type }}</p>
                            <p><strong>Date Acquired:</strong> {{ exhibit.date_acquired }}</p>
                        </div>

                        {% if exhibit.image %}
                        <div id="exhibit_photo">
                            <img src="{{ exhibit.image.url }}" alt="{{ exhibit.name }}">
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                {% if not is_employee %}
                <div class="buttons-top">
                    <a href="{% url 'add_to_cart_exhibition' exhibition.id %}" class="positive-button">Add To Cart</a>
                </div>
                {% endif %}
                {% else %}
                <p class="message">Please log in to purchase a ticket.</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="message">No exhibitions found.</p>
        {% endif %}
    </div>   
</body>
{% endblock %}