{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/all_excursions.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <div class="excursions-form">
            <form method="GET" action="{% url 'all_excursions' %}">
                <label for="sort_by">Sort by:</label>
                <select id="sort_by" name="sort_by">
                    <option value="date_asc" {% if sort_by == 'date_asc' %}selected{% endif %}>Date (Ascending)</option>
                    <option value="date_desc" {% if sort_by == 'date_desc' %}selected{% endif %}>Date (Descending)</option>
                    <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price (Low to High)</option>
                    <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price (High to Low)</option>
                </select>
                <button type="submit" class="positive-button">Sort</button>
            </form>
        </div>


        {% if messages %}
        <div class="success-message">
            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if excursions %}
            <div class="excursion-list">
                {% for excursion in excursions %}
                <div class="excursion-card">
                    <h4>{{ excursion.name }} (Code: {{ excursion.code }})</h4>
                    <p><strong>Date:</strong> {{ excursion.date|date:"Y-m-d" }}</p>
                    <p><strong>Season:</strong> {{ excursion.get_season_display }}</p>
                    <p><strong>Group Size:</strong> {{ excursion.group_size }}</p>
                    <p><strong>Guide:</strong> {{ excursion.guide }}</p>
                    <p><strong>Price:</strong> {{ excursion.price }}</p>

                    {% if user.is_authenticated %}
                    {% if not is_employee and not user.is_superuser %}
                    <div class="buttons-top">
                        <a href="{% url 'add_to_cart_excursion' excursion.id %}" class="positive-button">Add To Cart</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <p class="message">Please log in to purchase a ticket.</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
        <p class="message">No excursions found.</p>
        {% endif %}

    </div>
</body>
{% endblock %}