{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/content/article_detail.css' %}">
    <title>{{ article.title }}</title>
</head>

<body>
    <div class="container-box">
        <h1>{{ article.title }}</h1>

        {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}">
        {% endif %}

        <div id="time_published">
            <p><strong>Published (UTC):</strong> {{ published_at_utc }} UTC</p>
            <p><strong>Published (Local Time):</strong> {{ published_at_local }}</p>
        </div>

        <p id="text_content">{{ article.content }}</p>

        <div class="div-between">
            <a href="{% url 'news' %}" class="positive-button">Back to News</a>
        </div>

        <div class="settings">
            <label class="toggle-label">
                <input type="checkbox" id="toggleSettings"> Enable Settings
            </label>

            <div id="customizationOptions" class="customization-options" style="display: none;">
                <div class="setting-option">
                    <label for="fontSize">Font Size:</label>
                    <input type="range" id="fontSize" min="12" max="24" value="16">
                </div>

                <div class="setting-option">
                    <label for="textColor">Font Color:</label>
                    <input type="color" id="textColor" value="#000000">
                </div>

                <div class="setting-option">
                    <label for="bgColor">Background Color:</label>
                    <input type="color" id="bgColor" value="#ffffff">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'app/scripts/my_scripts/font_settings.js' %}"></script>
</body>
{% endblock %}