{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/content/article_detail.css' %}">
    <title>{{ article.title }}</title>
</head>

<body>
    <div class="container-box">
        <h1>{{ article.title }}</h1>

        {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}">
        {% endif %}

        <div id="time_published">
            <p><strong>Published (UTC):</strong> {{ published_at_utc }} UTC</p>
            <p><strong>Published (Local Time):</strong> {{ published_at_local }}</p>
        </div>

        <p id="text_content">{{ article.content }}</p>

        <div class="div-between">
            <a href="{% url 'news' %}" class="positive-button">Back to News</a>
        </div>
    </div>
</body>
{% endblock %}