{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_exhibit.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" enctype="multipart/form-data" class="exhibit-form">
            {% csrf_token %}

            <div class="div-between">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="date_acquired">Date Acquired</label>
                <input type="date" id="date_acquired" name="date_acquired" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="art_type">Art Type</label>
                <select id="art_type" name="art_type" class="input-areas">
                    {% for art_type in art_types %}
                    <option value="{{ art_type.id }}">
                        {{ art_type.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="div-between">
                <label for="hall">Hall</label>
                <select id="hall" name="hall" class="input-areas">
                    {% for hall in halls %}
                    <option value="{{ hall.id }}">
                        {{ hall.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="div-between">
                <label for="caretaker">Caretaker</label>
                <select id="caretaker" name="caretaker" class="input-areas">
                    {% for caretaker in caretakers %}
                    <option value="{{ caretaker.id }}">
                        {{ caretaker.first_name }} {{ caretaker.last_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Submit
                </button>
            </div>

            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="message" style="
                        {% if message.tags == 'error' %}background-color: #f89cff; color: white;{% else %}background-color: #d4edda; color: #155724;{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</body>

{% endblock %}
