{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_FAQ.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>Create New FAQ</h1>

        <form method="POST" class="add-faq-form">
            {% csrf_token %}
            <div class="main-faq">
                <label for="question">Question</label>
                <input class="input-areas" type="text" id="question" name="question" required>
            </div>
            <div class="main-faq">
                <label for="answer">Answer</label>
                <textarea class="input-areas" id="answer" name="answer" rows="5" required></textarea>
            </div>
            <button class="positive-button" type="submit">Submit</button>
        </form>
    </div>
</body>

{% endblock %}