{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_promocode.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="promocode-form">
            {% csrf_token %}

            <div class="div-between-button">
                <label for="code" class="label-areas">Code:</label>
                <input type="text" id="code" name="code" class="input-areas" required>
            </div>

            <div class="div-between-button">
                <label for="discount" class="label-areas">Discount:</label>
                <input type="number" step="0.01" id="discount" name="discount" min="0" max="100" class="input-areas" required>
            </div>

            <div class="div-between-button">
                <label for="expiration_date" class="label-areas">Expiration Date:</label>
                <input type="date" id="expiration_date" name="expiration_date" class="input-areas" required>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>
{% endblock %}