{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_article.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="article-form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="div-between">
                <label for="title">News Title</label>
                <input type="text" id="title" name="title" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="short_description">Short Description</label>
                <input type="text" id="short_description" name="short_description" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="content">Content</label>
                <textarea id="content" name="content" rows="5" class="input-areas" required></textarea>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>
{% endblock %}