{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_hall.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="hall-form">
            {% csrf_token %}

            <div class="div-between">
                <label for="number">Number</label>
                <input type="number" id="number" name="number" value="{{ hall.number }}" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{ hall.name }}" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="floor">Floor</label>
                <input type="number" id="floor" name="floor" value="{{ hall.floor }}" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="area">Area (sq. m)</label>
                <input type="text" id="area" name="area" value="{{ hall.area }}" class="input-areas" required>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Save changes
                </button>
            </div>

            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="message" style="
                        {% if message.tags == 'error' %}background-color: #f89cff; color: white;{% else %}background-color: #d4edda; color: #155724;{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </form>
    </div>
</body>

{% endblock %}
