{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/edit_review.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="review-form">
            {% csrf_token %}

            <div class="div-between">
                <label for="rating">Rating:</label>
                <select name="rating" id="rating" required>
                    <option value="1" {% if review.rating == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if review.rating == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if review.rating == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if review.rating == 4 %}selected{% endif %}>4</option>
                    <option value="5" {% if review.rating == 5 %}selected{% endif %}>5</option>
                </select>
            </div>
            <div class="div-between">
                <label for="text">Review:</label>
                <textarea name="text" id="text" rows="4" class="input-areas" required>{{ review.text }}</textarea>
            </div>
            <div class="button-align">
                <button type="submit" class="positive-button">
                    Save changes
                </button>
            </div>
        </form>
    </div>
</body>
{% endblock %}