{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_vacancy.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="vacancy-form">
            {% csrf_token %}

            <div class="div-between">
                <label for="title" class="label-areas">Vacancy Title</label>
                <input type="text" id="title" name="title" value="{{vacancy.title}}" required class="input-areas">
            </div>

            <div class="div-between">
                <label for="description" class="label-areas">Description</label>
                <textarea id="description" name="description" rows="5" required class="input-areas">{{ vacancy.description }}</textarea>
            </div>

            <div class="div-between">
                <label for="requirements" class="label-areas">Requirements</label>
                <textarea id="requirements" name="requirements" rows="3" required class="input-areas">{{ vacancy.requirements }}</textarea>
            </div>

            <div class="div-between-button">
                <label for="salary" class="label-areas">Salary</label>
                <input type="text" id="salary" name="salary" value="{{vacancy.salary}}" required class="input-areas">
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

{% endblock %}