{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/create_article.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="article-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div-between image-position">
                <label for="image">Image</label>
                <div>
                    {% if article.image %}
                    <img id="image-preview" src="{{ article.image.url }}" alt="{{ article.title }}">
                    {% else %}
                    <img id="image-preview" src="" alt="No image">
                    {% endif %}
                </div>
                <div class="div-between">
                    <p>Created at (Your Time Zone): {{ published_at_user_tz }} ({{ user_timezone }})</p>
                    <p>Created at (UTC): {{ published_at_utc }} (UTC)</p>
                </div>
                <input type="file" id="image" name="image" class="input-areas">
            </div>

            <div class="div-between">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="{{ article.title }}" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="short_description">Short Description</label>
                <input type="text" id="short_description" name="short_description" value="{{ article.short_description }}" class="input-areas" required>
            </div>

            <div class="div-between">
                <label for="content">Content</label>
                <textarea id="content" name="content" rows="5" class="input-areas" required>{{ article.content }}</textarea>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Save changes
                </button>
            </div>
        </form>
    </div>
</body>
{% endblock %}