{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/edit_company_info.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="POST" class="company-info-form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="div-between image-position">
                <label for="logo">Company Logo</label>
                <div>
                    {% if info.logo %}
                    <img id="image-preview" src="{{ info.logo.url }}" alt="Company Logo">
                    {% else %}
                    <img id="image-preview" src="" alt="No image">
                    {% endif %}
                </div>
                <input type="file" id="image" name="image" class="input-areas" onchange="previewImage()">
            </div>

            <div class="div-between">
                <label for="video" class="video-text">Company Video</label>
                <div class="video-position">
                    {% if info.video %}
                    <video id="video-preview" controls>
                        <source src="{{ info.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% else %}
                    <video id="video-preview" controls>
                        <source src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                </div>
                <input type="file" id="video-file" name="video" accept="video/*" class="input-areas" onchange="previewVideo()">
            </div>

            <div class="div-between">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="5" class="input-areas" required>{{ info.description|default_if_none:'' }}</textarea>
            </div>

            <div class="div-between">
                <label for="history">History</label>
                <textarea id="history" name="history" rows="5" class="input-areas">{{ info.history|default_if_none:'' }}</textarea>
            </div>

            <div class="div-between">
                <label for="details">Company Details</label>
                <textarea id="details" name="details" rows="5" class="input-areas">{{ info.details|default_if_none:'' }}</textarea>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Save changes
                </button>
            </div>
        </form>

    </div>

    <script>
        function previewImage() {
            var file = document.getElementById('image').files[0];
            var preview = document.getElementById('image-preview');
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = ""; // Default image or no image
            }
        }

        function previewVideo() {
            var file = document.getElementById('video-file').files[0];
            var preview = document.getElementById('video-preview');
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.load(); // Reload the video
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = ""; // Default video or no video
            }
        }
    </script>
</body>

{% endblock %}
