{% extends "app/layout.html" %}

{% block content %}

<h1>Edit Exhibit Information</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="image">Image</label>
        {% if article.image %}
        <div>
            <img id="image-preview" src="{{ exhibit.image.url }}" alt="{{ exhibit.name }}" style="max-width: 200px; height: auto;">
        </div>
        {% else %}
        <div>
            <img id="image-preview" src="" alt="No image" style="max-width: 200px; height: auto;">
        </div>
        {% endif %}
        <input type="file" id="image" name="image" class="form-control" onchange="previewImage()">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{ exhibit.name }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="art_type">Art Type</label>
        <select id="art_type" name="art_type" class="form-control">
            {% for art_type in art_types %}
            <option value="{{ art_type.id }}"
                    {% if art_type.id= =exhibit.art_type.id %}selected{% endif %}>
                {{ art_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="date_acquired">Date Acquired</label>
        <input type="date" id="date_acquired" name="date_acquired" value="{{ exhibit.date_acquired|date:'Y-m-d' }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="hall">Hall</label>
        <select id="hall" name="hall" class="form-control">
            {% for hall in halls %}
            <option value="{{ hall.id }}"
                    {% if hall.id= =exhibit.hall.id %}selected{% endif %}>
                {{ hall.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="caretaker">Caretaker</label>
        <select id="caretaker" name="caretaker" class="form-control">
            {% for caretaker in caretakers %}
            <option value="{{ caretaker.id }}"
                    {% if caretaker.id= =exhibit.caretaker.id %}selected{% endif %}>
                {{ caretaker.first_name }} {{ caretaker.last_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {% if messages %}
    <div class="alert alert-success text-center" style="margin-top:10px">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</form>

{% endblock %}