{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/employees_by_floor.css' %}">
    <title>Employees on Floor {{ selected_floor }}</title>
</head>

<body>
    <div class="container-box">
        <h1>Employees on Floor {{ selected_floor }}</h1>

        <div class="employees-form">
            <form method="POST">
                {% csrf_token %}
                <div class="div-between">
                    <label for="floor">Select Floor Number:</label>
                    <select id="floor" name="floor">
                        {% for floor in floors %}
                        <option value="{{ floor }}" {% if floor|stringformat:"s" == selected_floor|stringformat:"s" %}selected{% endif %}>
                            {{ floor }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="button-position">
                    <button type="submit" class="positive-button">Search</button>
                </div>
            </form>

            {% if employees %}
            <div class="employee-container">
                {% for employee in employees %}
               
                <div class="employee-card">
                        <div>
                            {% if employee.photo %}
                            <img src="{{ employee.photo.url }}" alt="{{ employee.name }}">
                            {% else %}
                            <img src="" alt="{{ employee.name }}">
                            {% endif %}
                        </div>
                        <div class="left-position">
                            <h4>
                                {{ employee.first_name }} {{ employee.last_name }}
                            </h4>
                            <p><strong>Position:</strong> {{ employee.position }}</p>
                            <p><strong>Phone:</strong> {{ employee.phone }}</p>
                            <p><strong>Hall:</strong> {{ employee.exhibit_set.first.hall.name }}</p>
                        </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="message">No employees found for the specified floor.</p>
                {% endif %}
            </div>
            </div>
        </div>
</body>

{% endblock %}