{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/excursion_detail.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        {% if excursion %}
        <div class="excursion-content">
            <div class="excursion-card">
                <h4>{{ excursion.name }} (Code: {{ excursion.code }})</h4>
                <p><strong>Date:</strong> {{ excursion.date|date:"Y-m-d" }}</p>
                <p><strong>Season:</strong> {{ excursion.get_season_display }}</p>
                <p><strong>Group Size:</strong> {{ excursion.group_size }}</p>
                <p><strong>Guide:</strong> {{ excursion.guide }}</p>
                <p><strong>Price:</strong> {{ excursion.price }}</p>

                {% if user.is_authenticated %}
                {% if not is_employee and not user.is_superuser %}
                <div class="buttons-top">
                    <a href="{% url 'add_to_cart_excursion' excursion.id %}" class="positive-button">Add To Cart</a>
                </div>
                {% endif %}
                {% else %}
                <p class="message">Please log in to add to cart a ticket.</p>
                {% endif %}
                {% if messages %}
                <div class="success-message">
                    {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p class="message">No excursion found.</p>
        {% endif %}
    </div>
</body>
{% endblock %}