{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/exhibition_detail.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        {% if exhibition %}
        <div class="exhibition-content">
            <div class="exhibition-card">
                <h4>{{ exhibition.name }}</h4>
                <div class="center-text">
                    <p><strong>Start Date:</strong> {{ exhibition.start_date|date:"Y-m-d" }}</p>
                    <p><strong>End Date:</strong> {{ exhibition.end_date|date:"Y-m-d" }}</p>
                    <p><strong>Price:</strong> {{ exhibition.price }}</p>
                </div>

                <h3>Exhibits:</h3>
                <div id="show_from_id">
                    {% for exhibit in exhibition.exhibits.all %}
                    <div id="exhibit_info">
                        <div>
                            <p id="exhibit_name">{{ exhibit.name }}</p>
                            <p><strong>Art Type:</strong> {{ exhibit.art_type }}</p>
                            <p><strong>Date Acquired:</strong> {{ exhibit.date_acquired }}</p>
                        </div>

                        {% if exhibit.image %}
                        <div id="exhibit_photo">
                            <img src="{{ exhibit.image.url }}" alt="{{ exhibit.name }}">
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                {% if not is_employee %}
                <div class="buttons-top">
                    <a href="{% url 'add_to_cart_exhibition' exhibition.id %}" class="positive-button">Add To Cart</a>
                </div>
                {% endif %}
                {% else %}
                <p class="message">Please log in to add to cart a ticket.</p>
                {% endif %}
                {% if messages %}
                <div class="success-message">
                    {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p class="message">No exhibition found.</p>
        {% endif %}
    </div>
</body>
{% endblock %}