{% extends "app/layout.html" %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
    }

    h1, h2 {
        color: #1a73e8;
    }

    .article-preview {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
    }

        .article-preview img {
            max-width: 100%;
            border-radius: 8px;
            margin-bottom: 15px;
        }

    .short-description {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .publication-date {
        color: #777;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    .btn {
        background-color: #1a73e8;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #155bb5;
        }

    .weather-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 30px;
    }

    .weather-title {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .weather-details {
        display: flex;
        flex-direction: column;
    }

    .weather-temp, .weather-condition {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .temp-value, .condition-description {
        font-weight: bold;
        color: #1a73e8;
    }

    pre {
        background-color: #e9ecef;
        padding: 15px;
        border-radius: 8px;
        white-space: pre-wrap;
    }
</style>


<body>
    <h1 style="margin-bottom:10px;">Latest Article</h1>

    {% if article %}
    <div class="article-preview">
        <h2>{{ article.title }}</h2>
        {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-responsive">
        {% endif %}
        <p class="short-description">{{ article.short_description }}</p>
        <p class="publication-date">Published on: {{ article.published_at|date:"d/m/Y" }}</p>
        <a href="article_all/{{article.id}}" class="btn btn-info">Read More</a>
    </div>
    {% else %}
    <p>No articles available.</p>
    {% endif %}

    <div class="weather-container">
        {% if user.is_authenticated %}
        <h1 class="weather-title">Weather in {{ city }}</h1>
        <div class="weather-details">
            <p class="weather-temp">Temperature: <span class="temp-value">{{ temperature }}</span> °C</p>
            <p class="weather-condition">Condition: <span class="condition-description">{{ description }}</span></p>
        </div>
        {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to see the weather information.</p>
        {% endif %}
    </div>
    <pre>
        {{ calendar }}
    </pre>
</body>
   {% endblock %}