{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Angelina Kanavalchik" />
    <meta name="description" content="Home Page For Museum Web Application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Museum, Excursions, Exhibitions" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/site.css' %}" />
    <title>{{ title }} - Museum Web App</title>
</head>

<body>
    <header>
        <div id="header_id">
            <a id="main_logo" href="{% url 'home' %}">
                <img src="{% static 'images/favicon.png' %}" alt="Museum Icon" style="width: 32px; height: 32px; margin-right: 10px;">
                Lorem
            </a>

            <div style="display: flex; align-items: center;">
                <ul class="navbar">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'promo_codes' %}">Promo Codes</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </header>

    <main style="min-height: 100vh; display: flex;">
        <aside>
            <ul class="sidebar-menu">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li><a href="{% url 'hall_info' %}">Hall and Exhibit Information</a></li>
                <li><a href="{% url 'newest_exhibits' %}">Newest Exhibits</a></li>
                <li><a href="{% url 'employees_by_floor' %}">Employees by Floor</a></li>
                <li><a href="{% url 'excursions_by_season' %}">Excursions by Season</a></li>
                <li><a href="{% url 'exhibits_by_arrival_date' %}">Exhibits by Arrival Date</a></li>
                <li><a href="{% url 'create_excursion' %}">Add Excursion/Exhibition</a></li>
                <li><a href="{% url 'statistics' %}">Sales Statistics</a></li>
                {% elif is_employee %}
                <li><a href="{% url 'my_exhibits' %}">My Exhibits</a></li>
                <li><a href="{% url 'my_excursions' %}">My Excursions</a></li>
                <li><a href="{% url 'hall_info' %}">Halls</a></li>
                <li><a href="{% url 'all_exhibits' %}">Exhibits</a></li>
                <li><a href="{% url 'all_excursions' %}">Excursions</a></li>
                <li><a href="{% url 'all_exhibitions' %}">Exhibitions</a></li>
                {% else %}
                <li><a href="{% url 'all_excursions' %}">Excursions</a></li>
                <li><a href="{% url 'all_exhibitions' %}">Exhibitions</a></li>
                <li><a href="{% url 'my_cart' %}">My Cart</a></li>
                <li><a href="{% url 'my_tickets' %}">My Tickets</a></li>
                <li><a href="{% url 'hall_info' %}">Halls</a></li>
                <li><a href="{% url 'all_exhibits' %}">Exhibits</a></li>
                {% endif %}
                {% else %}
                <li><a href="{% url 'all_excursions' %}">Excursions</a></li>
                <li><a href="{% url 'all_exhibitions' %}">Exhibitions</a></li>
                <li><a href="{% url 'hall_info' %}">Halls</a></li>
                <li><a href="{% url 'all_exhibits' %}">Exhibits</a></li>
                {% endif %}
                </ul>
        </aside>

        <section>
            {% block content %}{% endblock %}
        </section>
    </main>

    <footer id="footer_id">
        <p>&copy; {{ year }} - Museum Web App</p>
    </footer>
</body>
</html>