{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/login.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form action="." method="post" class="login-form">
            {% csrf_token %}

            <div class="div-between-button">
                <label for="id_username">User name</label>
                <input type="text" id="id_username" name="username" class="input-areas">
            </div>

            <div class="div-between-button">
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" class="input-areas">
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Log In
                </button>
            </div>

            <div class="button-align">
                <a href="register/" class="positive-button change-color">Create an account</a>
            </div>

            {% if form.errors %}
            <p class="message">Please enter a correct user name and password.</p>
            {% endif %}
        </form>
    </div>
</body>
{% endblock %}