{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/my_cart.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container-box">

        <h2 class="table-title">{{ title }}</h2>

        <table class="styled-table" itemscope itemtype="https://schema.org/ItemList">
            <thead>
                <tr>
                    <th id="item-header">Item</th>
                    <th id="quantity-header">Quantity</th>
                    <th id="price-header">Price</th>
                    <th id="total-header">Total</th>
                    <th id="actions-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if cart_items %}
                {% for item in cart_items %}
                <tr itemscope itemprop="itemListElement" itemtype="https://schema.org/Product">
                    <td headers="item-header" itemprop="name">{{ item.content_object.name }}</td>
                    <td headers="quantity-header" itemprop="quantity">{{ item.quantity }}</td>
                    <td headers="price-header" itemprop="priceCurrency" content="USD">${{ item.content_object.price }}</td>
                    <td headers="total-header" itemprop="totalPrice">${{ item.total_price }}</td>
                    <td headers="actions-header">
                        <div class="buttons-div">
                            <div>
                                <form method="post" action="{% url 'increase_quantity' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="positive-button">Increase</button>
                                </form>

                                <form method="post" action="{% url 'decrease_quantity' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="positive-button edit-button">Decrease</button>
                                </form>
                            </div>

                            <div>
                                <form method="post" action="{% url 'pay_page' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="positive-button edit-button">Pay</button>
                                </form>

                                <form method="post" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="positive-button">Remove</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="empty-cart">Your cart is empty.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% if cart_items %}
        <div class="total-price" itemprop="totalPrice">
            <h3>Total Cost: ${{ total_cost }}</h3>
        </div>
        {% endif %}
    </div>
</body>

{% endblock %}
