{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/my_exhibits.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

            {% if exhibits %}
        <div class="exhibit-list">
            {% for exhibit in exhibits|dictsort:"hall.name" %}
            <div class="exhibit-card">
                {% if exhibit.image %}
                <img src="{{ exhibit.image.url }}" alt="{{ exhibit.name }}">
                {% else %}
                <img src="/static/images/default_exhibit.jpg" alt="{{ exhibit.name }}">
                {% endif %}

                <h4>{{ exhibit.name }}</h4>
                <p><strong>Art Type:</strong> {{ exhibit.art_type }}</p>
                <p><strong>Date Acquired:</strong> {{ exhibit.date_acquired|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="message">No exhibits found.</p>
        {% endif %}

    </div>
</body>
{% endblock %}