{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/my_tickets.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container-box">

        <h1>{{ title }}</h1>

        {% if tickets_excursions or tickets_exhibitions %}
        <div class="excursion-list">
            {% for ticket in tickets_excursions %}
            <div class="excursion-card">
                <h4>Excursion: {{ ticket.excursion.name }}</h4>
                <p><strong>Date of Purchase:</strong> {{ ticket.purchase_date|date:"Y-m-d" }}</p>
                {% if ticket.promo_code %}
                <p><strong>Promo Code:</strong> {{ ticket.promo_code }}</p>
                {% endif %}
                <p><strong>Excursion Code:</strong> {{ ticket.excursion.code }}</p>
                <p><strong>Excursion Date:</strong> {{ ticket.excursion.date }}</p>
                <p><strong>Excursion Season:</strong> {{ ticket.excursion.season }}</p>
                <p><strong>Group Size:</strong> {{ ticket.excursion.group_size }}</p>
                <p><strong>Guide:</strong> {{ ticket.excursion.guide }}</p>
                <p><strong>Price:</strong> {{ ticket.total_price }}</p>
            </div>
            {% endfor %}

            {% for ticket in tickets_exhibitions %}
            <div class="excursion-card">
                <h4>Exhibition: {{ ticket.exhibition.name }}</h4>
                <p><strong>Date of Purchase:</strong> {{ ticket.purchase_date|date:"Y-m-d" }}</p>
                {% if ticket.promo_code %}
                <p><strong>Promo Code:</strong> {{ ticket.promo_code }}</p>
                {% endif %}
                <p><strong>Start Date:</strong> {{ ticket.exhibition.start_date }}</p>
                <p><strong>End Date:</strong> {{ ticket.exhibition.end_date }}</p>
                <div>
                    <h3>Exhibits:</h3>
                    <ul class="custom-marker">
                        {% for exhibit in ticket.exhibition.exhibits.all %}
                        <li color: #710ffa;>{{ exhibit.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <p><strong>Price:</strong> {{ ticket.total_price }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="message">You have no tickets yet.</p>
        {% endif %}
    </div>
</body>
{% endblock %}