{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/nationality.css' %}">
</head>

<body>
    <div class="container-box">

        {% if nationalities %}
        <table class="styled-table">
            <caption class="table-title">Nationality Prediction for {{ name }}</caption>
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Probability</th>
                </tr>
            </thead>
            <tbody>
                {% for nationality in nationalities %}
                <tr>
                    <td>{{ nationality.country_name }}</td>
                    <td>{{ nationality.probability }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No nationalities found.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
