{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/pay_page.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>Payment for Item</h1>

        <form method="post" action="{% url 'process_payment' item.id %}" class="pay-page-form">
            {% csrf_token %}

            <div class="div-between">
                <h2>Item Details</h2>
                <p><strong>Item Name:</strong> {{ item.content_object.name }}</p>
                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                <p><strong>Price per Item:</strong> ${{ item.content_object.price }}</p>
                <p ><strong>Total Price:</strong> ${{ item.total_price }}</p>
            </div>

            <div class="div-between">
                <h2>Apply Promo Code</h2>
                <label for="promo_code">Enter your promo code:</label>
                <input type="text" id="promo_code" name="promo_code" class="input-areas"/>
            </div>

            <div id="pay_button">
                <button type="submit" class="positive-button">Proceed to Payment</button>
            </div>
        </form>
    </div>

</body>

{% endblock %}
