<!DOCTYPE html>
{% extends "app/layout.html" %}

{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">

    <div style="max-width: 800px; margin: 20px auto; padding: 20px; background-color: #fff; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; color: #2c3e50; margin-bottom: 20px;">{{ title }}</h2>

        <form method="post" enctype="multipart/form-data" style="text-align: center;">
            {% csrf_token %}

            {% if is_employee %}
            <div style="margin-bottom: 20px;">
                <label for="photo" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Profile Photo</label>
                {% if employee.photo %}
                <img src="{{ employee.photo.url }}" alt="Profile Photo" style="display: block; max-width: 150px; height: auto; border-radius: 5px; margin: 0 auto; margin-bottom:10px;">
                {% endif %}
                <input type="file" id="photo" name="photo" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="first_name" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">First Name</label>
                <input type="text" id="first_name" name="first_name" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ employee.first_name }}">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="last_name" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Last Name</label>
                <input type="text" id="last_name" name="last_name" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ employee.last_name }}">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="phone" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Phone</label>
                <input type="text" id="phone" name="phone" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ employee.phone }}">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="email" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Email</label>
                <input type="email" id="email" name="email" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ employee.email }}">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="position" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Position</label>
                <select id="position" name="position" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    {% for position in positions %}
                    <option value="{{ position.id }}" {% if position.id == employee.position.id %}selected{% endif %}>
                        {{ position.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="hall" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Hall</label>
                <select id="hall" name="hall" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    {% for hall in halls %}
                    <option value="{{ hall.id }}" {% if hall.id == employee.hall.id %}selected{% endif %}>
                        {{ hall.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% if not is_employee %}
            <div style="margin-bottom: 20px;">
                <label for="first_name" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">First Name</label>
                <input type="text" id="first_name" name="first_name" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ user.first_name }}">
            </div>

            <a href="{% url 'nationality_by_name' %}" style="display: block; padding: 10px; font-size: 1em; font-weight: bold; color: #fff; background-color: #f39c12; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; margin-bottom: 20px;">Find Out Nationality by Name</a>

            <div style="margin-bottom: 20px;">
                <label for="last_name" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Last Name</label>
                <input type="text" id="last_name" name="last_name" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ user.last_name }}">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="email" style="display: block; font-weight: bold; color: #2c3e50; margin-bottom: 8px;">Email</label>
                <input type="email" id="email" name="email" style="width: 90%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" value="{{ user.email }}">
            </div>
            {% endif %}

            <div style="margin-bottom: 20px;">
                <p><strong>Time Zone:</strong> <span id="userTimezone" style="font-weight: bold; color: #2c3e50;"></span></p>
                <p><strong>Current Date and Time (Your Time Zone):</strong> <span id="currentDateTimeUserTz"></span></p>
                <p><strong>Current Date and Time (UTC):</strong> <span id="currentDateTimeUtc"></span></p>
            </div>

            <button type="submit" style="display: block; width: 100%; padding: 10px; font-size: 1em; font-weight: bold; color: #fff; background-color: #3498db; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; margin-top: 10px;">Save Changes</button>

            {% if messages %}
            <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 10px; border-radius: 5px; margin-top: 20px;">
                {% for message in messages %}
                <p style="margin: 0;">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>

</body>

</html>
{% endblock %}