{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <script>
        // Функция для обновления данных времени и временных зон
        function updateTimeInfo() {
            // Получение текущей даты и времени
            const now = new Date();

            // Получение временной зоны пользователя
            const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.getElementById('userTimezone').innerText = timeZone;

            // Форматирование текущей даты и времени в формате пользователя
            const userTzDateTime = now.toLocaleString(); // Локальная дата и время
            document.getElementById('currentDateTimeUserTz').innerText = userTzDateTime;

            // Форматирование текущей даты и времени в формате UTC
            const utcDateTime = now.toUTCString(); // Дата и время в UTC
            document.getElementById('currentDateTimeUtc').innerText = utcDateTime;
        }

        // Обновляем информацию при загрузке страницы
        document.addEventListener('DOMContentLoaded', updateTimeInfo);
    </script>

    <link rel="stylesheet" href="{% static 'app/content/profile.css' %}">
</head>

<body>
    <div class="container-box">
        <h1>{{ title }}</h1>

        <form method="post" enctype="multipart/form-data" class="profile-form">
            {% csrf_token %}

            {% if is_employee %}
            <div class="div-between">
                <label for="photo" class="label-areas photo-label">Profile Photo</label>
                {% if employee.photo %}
                <img src="{{ employee.photo.url }}" alt="Profile Photo" class="profile-photo">
                {% endif %}
                <input type="file" id="photo" name="photo" class="input-areas">
            </div>

            <div class="div-between float-position">
                <label for="first_name" class="label-areas">First Name</label>
                <input type="text" id="first_name" name="first_name" class="input-areas" value="{{ employee.first_name }}">
            </div>

            <a href="{% url 'nationality_by_name' %}" class="positive-button">Find Out Nationality by Name</a>

            <div class="div-between">
                <label for="last_name" class="label-areas">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="input-areas" value="{{ employee.last_name }}">
            </div>

            <div class="div-between">
                <label for="phone" class="label-areas">Phone</label>
                <input type="text" id="phone" name="phone" class="input-areas" value="{{ employee.phone }}">
            </div>

            <div class="div-between">
                <label for="email" class="label-areas">Email</label>
                <input type="email" id="email" name="email" class="input-areas" value="{{ employee.email }}">
            </div>

            <div class="div-between">
                <label for="position" class="label-areas">Position</label>
                <select id="position" name="position" class="input-areas">
                    {% for position in positions %}
                    <option value="{{ position.id }}" {% if position.id == employee.position.id %}selected{% endif %}>
                        {{ position.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="div-between">
                <label for="hall" class="label-areas">Hall</label>
                <select id="hall" name="hall" class="input-areas">
                    {% for hall in halls %}
                    <option value="{{ hall.id }}" {% if hall.id == employee.hall.id %}selected{% endif %}>
                        {{ hall.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% if not is_employee %}
            <div class="div-between float-position">
                <label for="first_name" class="label-areas">First Name</label>
                <input type="text" id="first_name" name="first_name" class="input-areas" value="{{ user.first_name }}" required enabled>
            </div>

            <a href="{% url 'nationality_by_name' %}" class="positive-button">Find Out Nationality by Name</a>

            <div class="div-between">
                <label for="last_name" class="label-areas">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="input-areas" value="{{ user.last_name }}" required enabled>
            </div>

            <div class="div-between">
                <label for="email" class="label-areas" >Email</label>
                <input type="email" id="email" name="email" class="input-areas" value="{{ user.email }}" disabled>
            </div>
            {% endif %}

            <div class="div-between">
                <p><strong>Time Zone:</strong> <span id="userTimezone"></span></p>
                <p><strong>Current Date and Time (Your Time Zone):</strong> <span id="currentDateTimeUserTz"></span></p>
                <p><strong>Current Date and Time (UTC):</strong> <span id="currentDateTimeUtc"></span></p>
            </div>

            <div class="button-align">
                <button type="submit" class="positive-button">
                    Save Changes
                </button>
            </div>

            {% if messages %}
            <div class="success-message">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>

</body>

{% endblock %}