{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/content/exhibition_success.css' %}">
    <title>Purchase Successful</title>
</head>

<body>
    <div class="container-box">
        <div class="success-box">
            <h1>Purchase Successful</h1>
            <p>Your ticket has been successfully purchased!</p>
            <a href="{% url 'all_exhibitions' %}">View More Exhibitions</a>
        </div>
    </div>
</body>
{% endblock %}
