.review-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #eeedff;
    overflow: hidden;
}

.div-between {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #710ffa;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #ea0ffa;
    color: #ea0ffa;
}

option {
    color: #ea0ffa;
}

.button-align {
    text-align: center;
}

.positive-button {
    padding: 7px 12px;
}