@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 60px 0 0 0 !important;
    padding: 0 !important;
    background-color: white !important;
}

h1 {
    font-size: 28px;
    color: #710ffa;
    margin-bottom: 20px;
    text-align: center;
}

    h1:hover {
        text-decoration: underline;
    }

.container-box {
    margin: 20px 40px;
    padding: 20px;
    width: 1150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
    border-color: #710ffa; /* Цвет границы в фокусе */
    box-shadow: 0 0 5px rgba(113, 15, 250, 0.5); /* Дополнительный эффект тени для подсветки поля */
    outline: none; /* Убирает стандартный контур при фокусе */
}

#header_id {
    background-color: #26203d;
    color: white;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #666;
    justify-content: space-between;
    position: fixed; /* Фиксированное положение */
    top: 0; /* Прилепить к верхней части страницы */
    width: 100%; /* Ширина хедера по всей странице */
    z-index: 1000;
}

#footer_id {
    background-color: #26203d;
    color: #ea0ffa;
    text-align: center;
    padding: 8px;
    border-top: 2px solid #666;
}

#main_logo {
    color: #ea0ffa;
    text-decoration: none;
    font-size: 28px;
    text-shadow: 1px 1px 2px #000;
    display: flex;
    align-items: center;
    font-family: "Lora", "Roboto", serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px 10px;
    font-family: Arial, sans-serif;
}

    .navbar li {
        margin-right: 15px;
    }

        .navbar li:last-child {
            margin-right: 0;
        }

    .navbar a {
        text-decoration: none;
        color: #cbd4d2;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .navbar a:hover {
            color: #710ffa;
        }

        .navbar a:active {
            background-color: #ea0ffa;
            color: white;
        }

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .sidebar-menu li {
        margin-bottom: 15px;
    }

    .sidebar-menu a {
        display: block;
        text-decoration: none;
        padding: 10px 15px;
        background-color: #eeedff;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .sidebar-menu a:hover {
            background-color: #ea0ffa;
            color: white;
        }

        .sidebar-menu a:visited {
            color: blue;
        }

        .sidebar-menu a:link {
            color: #26203d;
        }

aside {
    flex-grow: 0; /* Не увеличивать ширину */
    flex-shrink: 0; /* Не уменьшать ширину */
    width: 220px; /* Фиксированная ширина */
    padding: 10px;
    border-right: 1px solid #ddd;
}

.positive-button {
    background-color: #710ffa;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
}

    .positive-button:hover {
        background-color: #ba8cfa;
        color: white;
    }

.input-areas {
    color: #ea0ffa;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}